@import "./variable";
@import "./reset";
@import "./mixin";

.hold {
    width: 80%;
    margin: 0 auto;
}

.header {
    position: relative;
}
.nav {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

    .hold {
        height: var(--navH);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &Toggler {
        display: none;

        & + label {
            width: 1.5rem;
            height: 1.5rem;
            display: none;
            background-image: url("../images/icon-hamburger.svg");
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.2s ease;
        }
        &:checked ~ label {
            background-image: url("../images/icon-close.svg");
        }
    }
    &Link {
        &s {
            list-style: none;
            display: flex;
            align-items: center;
            transition: all 0.2s ease;
        }

        display: block;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--veryDarkBlue);

        &Disable {
            color: var(--grayishBlue);
        }
        &Sep {
            pointer-events: none;

            span {
                width: 0.4em;
                height: 0.4em;
                display: block;
                background-color: var(--grayishBlue);
                border-radius: 50%;
            }
        }
    }

    @include mobile() {
        &Toggler {
            & + label {
                display: block;
            }
            &:checked ~ .navLinks {
                display: flex;
                opacity: 1;
            }
        }
        &Link {
            &s {
                width: 80%;
                height: fit-content;
                padding: 1rem;
                position: absolute;
                top: var(--navH);
                flex-direction: column;
                background-color: var(--lightGrayishBlue);
                box-shadow: 2px 2px 5px rgba(#000, 0.1);
                display: none;
                opacity: 0;
            }
            &Sep span {
                width: 80%;
                height: 0.1em;
                position: absolute;
                left: 10%;
                border-radius: 0;
            }
        }
    }
}

.hero {
    overflow-x: hidden;

    .hold {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &Left {
        width: 50%;
    }
    &Tab {
        &s {
            display: flex;

            label {
                // margin: 1rem;
                padding: 0.1rem 0.5rem;
                font-size: 0.8rem;
                text-transform: uppercase;
                color: var(--grayishBlue);
                border-radius: 1rem;
                transition: all 0.2s ease;
            }
        }

        display: none;

        &:checked + label {
            font-weight: 700;
            background-color: var(--veryDarkBlue);
            color: var(--lightGrayishBlue);
        }
    }
    &Txt {
        h1 {
            max-width: 18ch;
            margin-top: 1rem;
            font-size: 3rem;
            line-height: 1em;
            text-transform: uppercase;
            color: var(--veryDarkBlue);
        }
        p {
            margin: 1rem 0;
            color: var(--darkGrayishBlue);
        }
    }
    &Btn {
        &s {
            margin-top: 3rem;
        }

        padding: 0.75em 1.5em;
        font-size: 0.9rem;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px transparent;
        color: var(--grayishBlue);
        border-radius: 0.25em;

        &:first-child {
            font-weight: 700;
            background-color: var(--red);
            border-color: var(--red);
            color: var(--lightGrayishBlue);
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &Right {
        width: 50%;
        padding-left: 1rem;

        &::before {
            width: 50%;
            height: 50%;
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            background-color: var(--lightGrayishBlue);
            border-bottom-left-radius: 5rem;
        }
    }

    @include desktop() {
        &Txt {
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 0.9rem;
            }
        }
    }
    @include medium() {
        .hold {
            padding: var(--navH) 0 calc(var(--navH) / 2) 0;
            flex-direction: column;
        }

        &Left {
            width: 100%;
            margin-top: 2rem;
            order: 2;
        }
        &Tabs label {
            font-size: 0.7rem;
        }
        &Txt {
            h1 {
                max-width: 18ch;
            }
            p {
                color: var(--darkGrayishBlue);
            }
        }
        &Btn {
            &s {
                margin-top: 2rem;
            }
            font-size: 0.8rem;
        }

        &Right {
            width: 100%;
            height: 60vh;
            padding: 0;

            img {
                height: 50vh;
            }
            &::before {
                height: 80vh;
            }
        }
    }
    @include mobile() {
        &Txt {
            h1 {
                font-size: 1.5rem;
            }
            p {
            }
        }
        &Btn {
            font-size: 0.6rem;
        }
    }
}
